.logo{
    height: 3em;
    width: 3em;
}

h1{
    font-size: 20px;
    font-style: italic;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: white;
}

a{
    text-decoration: none;
}

header{
    background-color: yellowgreen;
}

.card-body i{
    font-size: 3em;
}

#minhasestatisticas h2 {
    font-size: 2rem; 
    color: #333; 
    background-color: #f8f9fa; /* Cor de fundo clara para destaque */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

