.logo{
    height: 3em;
    width: 3em;
}

h1{
    font-size: 20px;
    font-style: italic;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: white;
}

a{
    text-decoration: none;
}

header{
    background-color: yellowgreen;
}

.card-body i{
    font-size: 3em;
}

#minhasestatisticas h2 {
    font-size: 2rem; 
    color: #333; 
    background-color: #f8f9fa; /* Cor de fundo clara para destaque */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}





/* Menu de botões */
.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu button {
    width: 48%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
}

.menu button.active {
    background-color: #0056b3; /* Cor diferente para o botão ativo */
    font-weight: bold; /* Adiciona um peso diferente ao texto */
}

.menu button:hover {
    background-color: #0056b3;
}

/* Seções de formulário */
.form-section {
    display: none;
    font-size: 14px;
}

.form-section.active {
    display: block;
}

.form-section h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.form-section label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 13px;
}

.form-section input, .form-section textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
}

.form-section textarea {
    resize: vertical;
    min-height: 60px;
}

.form-section button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-section button:hover {
    background-color: #218838;
}

/* Style for hover effect on the direct menu items */
.nav-link {
    transition: color 0.3s, text-decoration 0.3s; /* Smooth transition */
}

.nav-link:hover {
    color: #808080; /* Change the color on hover to gray */
    text-decoration: underline; /* Underline on hover */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}